/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow: auto; }

//colors
$magenta: #e51e92;
$light-magenta: #ffacec;
$black: #000000;
$white: #fff;

.magenta-bg {
    background-color: $magenta;
}

.light-magenta-bg {
  background-color: $light-magenta;
}

.magenta {
    color: $magenta;
}

// Sizes
.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.width-40p {
    width: 40%;
}

.width-48p {
    width: 48%;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

// flex
.flex {
    display: flex !important;
}

.row {
    flex-direction: row !important;
}

.wrap {
    flex-wrap: wrap;
}

// flex-layout
.center-center {
    justify-content: center;
    align-items: center;
}

.end {
    justify-content: end;
    align-items: end;
}

.space-between-center {
    justify-content: space-between;
    align-items: center;
}

.text-center1 {
    align-items: center;
}

.text-center {
    text-align: center;
}

.column {
    flex-direction: column;
}

// Padding 
.no-padding {
    padding: 0;
}

.padding-5px {
    padding: 5px;
}

.padding-10px {
    padding: 10px;
}

.padding-20px {
    padding: 20px;
}

// margin
.no-margin {
    margin: 0 !important;
}

.margin-10px {
    margin: 10px;
}

// gaps 
.gap-05em {
    gap: .5em;
}

.gap-1em {
    gap: 1em;
}

.gap-2em {
    gap: 2em;
}

// postions 
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

.margin-top-64px {
    margin-top: 64px;
}

.top-0p {
    top: 0;
}


.left-0p {
    left: 0;
}

.right-0p {
    right: 0;
}

.bottom-0p {
    bottom: 0;
}


// cursor 
.pointer {
    cursor: pointer;
}

// border 
.border-radius-10px {
    border-radius: 10px;
}

.border-radius-20px {
    border-radius: 20px;
}

.round {
    border-radius: 50%;
}

.border-box {
    box-sizing: border-box;
}

.index-1 {
    z-index: 1;
}

// Colors

.white {
    color: $white !important;
}

.black {
    color: $black;
}

.hover1:hover{
    background-color: $magenta;
}

.hover2:hover{
    background-color: $magenta;
    color: $white;
}

//op
.opacity {
    opacity: 0.7;
}

.active {
    background-color: $magenta;
    color: $white;
    border-radius: 10px;
}

.mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label {
    display: flex !important;
    gap: .5em;
}

@media only screen and (max-width: 600px){

    .makeColumn {
        flex-direction: column !important;
    }

    .show {
        display: contents !important;
    }

    .showNone {
        display: none !important;
    }

    .make100w {
        width: 100% !important;
    }
    
}